@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.no1{
  width: 100%;
  height: 300px;
}
.mainpara{
  background-color: aliceblue;
  padding: 20px
}
.social img {
  display: inline-block;
  padding: 4%;
 }.copyright {
  float: left;
  width: 65%;
 }
 .social {
  float: right;
  width: 25%;
 }
 .social_icon{
  height: 300px;
width: 300px;
 }
 
@media (min-width:320px) and (max-width:480px){
  .social_icon{
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;

  }
  .social{
    display: flex;
width: 100%;
    float: none;
    align-items: center;
    justify-content:center;
    text-align: center;
    flex-direction: column;
  }
}