*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-image{
    width: 70%;
}
.banner{
    position: relative;
    
}
.banner-title{
    position: absolute;
    bottom: 0%;
   background-color: rgba(255, 255, 255, 0.5);
   
   padding: 20px;
}
h2{
    text-align: center;
    align-items: center;
    justify-content: center;
}
table{
    border-collapse: collapse;
    border: 3px solid black;
    width: 80%;
}
th,tr,td {
    border: 1px solid black;
}
th{
    background-color: black;
    color: white;
    font-size: 1.15em;
}
tr:nth-child(odd){
    background-color: #ccc;
}
